@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    background: #1f2937;
}

header {
    padding: 18px;
    display: flex;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8; 
    width: 60%;
    padding-left: 7em;
    flex-grow: 3;
}

header ul {
    list-style: none;
    width: 40%;
    padding-right: 5em;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 24px;
}

header ul a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.intro {
    height: 360px;
    display: flex;
    justify-content: center;
    margin: 80px 0 150px 0;
}

.intro article {
    width: 30%;
    padding-right: 2em;
}

.intro article h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.intro article p {
    color: #e5e7eb;
    padding-top: 1.2em;
}

.intro article button {
    font-size: 1em;
    font-weight: bold;
    color: #f9faf8;
    background: #3882F6;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    margin-top: 1.2em;

}

.image {
    width: 40%;
}

.image img {
    width: 500px;
    height: 100%;
}

.news {
    color: #1f2937;
    background: white;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news h2 {
    font-size: 36px;
    font-weight: bolder;
    padding: 1.5em;
}

.news-feed {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.news-feed  div {
    width: 180px;
}

.news-feed div p {
    text-align: center;
}

.news-feed div img {
    border: 5px solid #3882f6;
    border-radius: 25px;
    width: 100%;
    height: 190px;
}