@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    background: #1f2937;
}

header {
    padding: 1.2em 7em 1.2em 12em;
    display: flex;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8; 
    flex: 3 0 360px;
}

header nav {
    flex-grow: 1;
    flex: 1 0 320px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

header nav ul a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.intro {
    display: flex;
    padding: 5em 7em 10em 12em;
}

.intro article {
    padding-right: 2em;
    width: 400px;
    flex-shrink: 0;
}

.intro article h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.intro article p {
    color: #e5e7eb;
    margin-top: 1.2em;
}

button.signup {
    font-size: 1em;
    font-weight: bold;
    color: #f9faf8;
    background: #3882F6;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    margin-top: 1.2em;

}

.image {
    width: 500px;
    min-width: 350px;
}

.image img {
    width: 100%;
    height: 100%;
}

.intro article , .intro .image {
    height: 22em;
}

.news {
    color: #1f2937;
    background: #f9faf8;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news h2 {
    font-size: 36px;
    font-weight: bolder;
    padding: 1.5em;
}

.news-feed {
    display: flex;
    gap: 50px;
}

.news-feed  div {
    width: 180px;
}

.news-feed div p {
    text-align: center;
}

.news-feed div img {
    border: 5px solid #3882f6;
    border-radius: 25px;
    width: 100%;
    height: 190px;
}

.quote blockquote {
    background: #e5e7eb;
    padding: 8em 20em;
    display: flex;
    flex-direction: column;
}

.quote blockquote p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote blockquote figcaption {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 1.8em;
}

.sign-up-form {
    background: #f9faf8;
    padding: 6em;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    color: #e5e7eb;
    background: #3882f6;
    border-radius: 8px;
    padding: 3em 8em;
    display: flex;
    justify-content: space-between;
}

.sign-up-form button.signup {
    border: 2px solid #e5e7eb;
}

footer {
    color: #e5e7eb;
    padding: 2.5em;
    display: flex;
    justify-content: center;
}


